<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit task</h1>
    <form action="edit-task" method="post">
        <input type="hidden" name="taskId" value="<%= task._id %>" required>
        <label>Your task: <input type="text" name="task" value="<%= task.content %>" required></label>
        <button type="submit">Edit</button>
    </form>
    <a href="/user/task">Return</a>
</body>
</html>